<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ asset('back/bootstrap.min.css')}} ">

    </head>
    <body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">PROSTAM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('stock_index')}}">Stock <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('product_index')}}">Product</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('category_index')}}">Category</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('marque_index')}}">Marque</a>
      </li>

     
    </ul>

     <ul class="navbar-nav">
     {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
              <a class="nav-link" href="#">Connecte tant que : {{ app.user.username }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{path('fos_user_security_logout')}}">Deconnexion</a>
            </li>
      {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("fos_user_security_login") }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('fos_user_registration_register')}}">S'inscrir</a>
            </li>
        </ul>
      {% endif %}

    

  </div>
</nav>
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 my-2">
               {% block body %}{% endblock %}
            </div>
          </div>
        </div>
       

        {% block javascripts %}{% endblock %}
    </body>
</html>
