<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ asset('back/bootstrap.min.css')}} ">
    <link rel="stylesheet" href=" {{ asset('fontawesome/css/all.css')}} ">

    </head>
    <body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">PROSTAM Stock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
 <!--
      <li class="nav-item">
        <a class="nav-link" href="">Products</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">Categorirs</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">Marques</a>
      </li>-->
     
    </ul>

     <ul class="navbar-nav">
     {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
              <a class="nav-link" href="#">Connecte tant que : {{ app.user.username }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{path('fos_user_security_logout')}}">Deconnexion</a>
            </li>
      {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("fos_user_security_login") }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('fos_user_registration_register')}}">S'inscrir</a>
            </li>
        </ul>
      {% endif %}

    

  </div>
</nav>


        <div class="container">
          <div class="row">
            <div class="col-md-3 my-5">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action {{ app.request.get('_route') == 'product_index' ? 'active' }} " id="list-home-list"  href="{{path('product_index')}}" role="tab" >
                  Products</a>
                  <a class="list-group-item list-group-item-action {{ app.request.get('_route') == 'category_index' ? 'active' }} " id="list-messages-list"  href="{{path('category_index')}}" role="tab"  >
                  Categories</a>
                  <a class="list-group-item list-group-item-action {{ app.request.get('_route') == 'marque_index' ? 'active' }} " id="list-settings-list"  href="{{path('marque_index')}}" role="tab" >
                  Marques</a>
                  <a class="list-group-item list-group-item-action {{ app.request.get('_route') == 'product_index' ? 'active' }} " id="list-profile-list"  href="{{path('product_index')}}" role="tab" >
                  Variants</a>

                </div>
            </div>
            <div class="col-md-9 my-2" style="border: 1px solid black">
               {% block body %}{% endblock %}
            </div>
          </div>
        </div>
       

        {% block javascripts %}{% endblock %}
    </body>
</html>
