{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    <a  class="btn btn-primary my-1" href="{{ path('product_new') }}">Create a new product</a>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Category</th>
                <th>Modele</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.marque.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.modele }}</td>
                <td>{{ product.libelle }}</td>
                <td>
                    <ul>                
                            <a class="btn btn-info" href="{{ path('product_show', { 'id': product.id }) }}">show</a>               
                            <a class="btn btn-warning" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
{% endblock %}
