{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Product creation</h1>

    {{ form_start(form) }}


                <div class="form-group">   
                    <div class="row" >
                             <div class="col-md-4" disabled> {{ form_row(form.marque, { 'attr': {'class': 'form-control'}}) }}</div>  
                             <div class="col-md-4"> {{ form_row(form.category, { 'attr': {'class': 'form-control'}}) }}</div>
                             <div class="col-md-4"> {{ form_row(form.tags, { 'attr': {'class': 'form-control'}}) }}</div>

                    </div>     
                </div>


                 <div class="form-group">
                     <div class="row">
                         <div class="col-md-3"> {{ form_row(form.modele, { 'attr': {'class': 'form-control'}}) }}</div>
                         <div class="col-md-3"> {{ form_row(form.libelle, { 'attr': {'class': 'form-control'}}) }}</div>
                         <div class="col-md-3"> {{ form_row(form.image, { 'attr': {'class': 'form-control'}}) }} </div>
                     </div>
                </div>                     
                
               <input class="btn btn-primary btn-block my-2" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

